---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title |markdownify}}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% if post.categories contains "Reviews" or post.categories contains "Aventuras" or post.categories contains "Adventures" or post.tags contains "cenarios" or post.tags contains "Artigos" or post.tags contains "game_report" or post.tags contains "Aventura" or post.categories contains "stories" %}
    {{ post.excerpt }}
    <a href="{{ post.url }}">
        Saiba Mais ({{ post.content | number_of_words }} palavras...)
    </a>
    {% else %}
    {{ post.content }}
{% endif %}
</div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
