<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title | markdownify | strip_html }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <script type="module" src="{{ site.baseurl }}assets/js/mastodon-comments/src/comments.js">
    customElements.define("oom-comments", Comments);
  </script>

  {% comment %} <script>
    import Comments from "/assets/js/mastodon-comments/src/comments.js";
    customElements.define("oom-comments", Comments);
  </script> {% endcomment %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/hyde.css">
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}assets/css/mastodon.css">  -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <link rel="stylesheet" href="https://fontlibrary.org/face/carlito">
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}assets/css/font-awesome/css/font-awesome.min.css">  -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/fontawesome-free-6.2.1-web/css/fontawesome.min.css">  
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/fontawesome-free-6.2.1-web/css/brands.min.css">  
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/fontawesome-free-6.2.1-web/css/solid.min.css">  
  <link rel="stylesheet" href="{{ site.baseurl }}assets/js/mastodon-comments/src/styles.css">


<!-- Icons -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}assets/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}assets/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}assets/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}assets/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}assets/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}assets/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}assets/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}assets/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}assets/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}assets/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}assets/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}assets/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}assets/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}assets/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>


