<div class="sidebar">

<div class="social-networks">
{% if site.author.email %}
<a href="mailto:{{ site.author.email }}">
<i class="fa fa-envelope"></i>
</a>
{% endif %}
{% if site.author.facebook %}
<a href="http://facebook.com/{{ site.author.facebook }}">
<i class="fa-brands fa-facebook-square"></i>
</a>
{% endif %}
{% if site.author.twitter %}
<a href="http://twitter.com/{{ site.author.twitter }}">
<i class="fa-brands fa-twitter-square"></i>
</a>
{% endif %}
{% if site.author.googleplus %}
<a href="http://plus.google.com/{{ site.author.googleplus }}">
<i class="fa-brands fa-google-plus-square"></i>
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="http://linkedin.com/in/{{ site.author.linkedin }}">
<i class="fa-brands fa-linkedin-square"></i>
</a>
{% endif %}
{% if site.author.youtube %}
<a href="http://youtube.com/user/{{ site.author.youtube }}">
<i class="fa-brands fa-youtube-square"></i>
</a>
{% endif %}
{% if site.author.instagram %}
<a href="http://instagram.com/{{ site.author.instagram }}">
<i class="fa-brands fa-instagram"></i>
</a>
{% endif %}
{% if site.author.telegram %}
<a href="http://telegram.me/{{ site.author.telegram }}">
<i class="fa-brands fa-telegram"></i>
</a>
{% endif %}
{% if site.author.mastodon %}
<a rel="me" href="{{ site.author.mastodon }}">
<i class="fa-brands fa-mastodon" alt="Mastodon"></i>
</a>
{% endif %}
<a href="/atom.xml"><i class="fa fa-rss-square"></i></a>
  </div>

<div class="authors"><img src="{{ site.author.avatar }}" alt="{{ site.author.name }}"/></div>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title | markdownify }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.tipos %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
{% comment %}
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
{% endcomment %}
  </div>
</div>
