/*
 *  __                  __
 * /\ \                /\ \
 * \ \ \___   __  __   \_\ \     __
 *  \ \  _ `\/\ \/\ \  /'_` \  /'__`\
 *   \ \ \ \ \ \ \_\ \/\ \_\ \/\  __/
 *    \ \_\ \_\/`____ \ \___,_\ \____\
 *     \/_/\/_/`/___/> \/__,_ /\/____/
 *                /\___/
 *                \/__/
 *
 * Designed, built, and released under MIT license by @mdo. Learn more at
 * https://github.com/poole/hyde.
 */


/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/assets/css/MonoSocialIconsFont-1.10.eot');
    src: url('/assets/css/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/assets/css/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/assets/css/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/assets/css/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/assets/css/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{ 
	font-family: 'Fate Core Font';
	src: url('/assets/css/fate_core_font-webfont.eot');
	src: url('/assets/css/fate_core_font-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/css/fate_core_font-webfont.woff') format('woff'),
	     url('/assets/css/fate_core_font-webfont.ttf') format('truetype'),
	     url('/assets/css/fate_core_font-webfont.svg#webfont') format('svg');
}

/*
@font-face{ 
      font-family: 'WebSymbolsLigaRegular';
          src: url('fonts/WebSymbolsLiga-Regular.eot');
          src: url('fonts/WebSymbolsLiga-Regular.eot?#iefix') format('embedded-opentype'),
               url('fonts/WebSymbolsLiga-Regular.woff') format('woff'),
               url('fonts/WebSymbolsLiga-Regular.ttf') format('truetype'),
               url('fonts/WebSymbolsLiga-Regular.svg#WebSymbolsRegular') format('svg');
}
*/

html {
    font-family: "Carlito", Helvetica, Arial, sans-serif;
    text-align: justify;
}
@media (min-width: 48em) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 14px;
  }
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
  .sidebar img
  {
      max-width: 20%;
  }
}

@media (min-width: 64em) {
  .sidebar img
  {
      max-width: 100%;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Caladea", serif;
  font-size: 1.5rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: underline;
    
}
.sidebar-nav-item.active {
  font-weight: bold;
}


/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  0.5rem;
    bottom: 0.5rem;
    left:   0.5rem;
  }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}


.content img {
    max-width: 100%;
    float: center;
}


@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}


/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

@media (min-width: 48em) {
  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}

@media (min-width: 64em) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}



/*
 * Themes
 *
 * As of v1.1, Hyde includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */

/* Base16 (http://chriskempson.github.io/base16/#default) */

/* Red */
.theme-base-08 .sidebar {
  background-color: #ac4142;
}
.theme-base-08 .content a,
.theme-base-08 .related-posts li a:hover {
  color: #ac4142;
}

/* Orange */
.theme-base-09 .sidebar {
  background-color: #d28445;
}
.theme-base-09 .content a,
.theme-base-09 .related-posts li a:hover {
  color: #d28445;
}

/* Yellow */
.theme-base-0a .sidebar {
  background-color: #f4bf75;
}
.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover {
  color: #f4bf75;
}

/* Green */
.theme-base-0b .sidebar {
  background-color: #90a959;
}
.theme-base-0b .content a,
.theme-base-0b .related-posts li a:hover {
  color: #90a959;
}

/* Cyan */
.theme-base-0c .sidebar {
  background-color: #75b5aa;
}
.theme-base-0c .content a,
.theme-base-0c .related-posts li a:hover {
  color: #75b5aa;
}

/* Blue */
.theme-base-0d .sidebar {
  background-color: #6a9fb5;
}
.theme-base-0d .content a,
.theme-base-0d .related-posts li a:hover {
  color: #6a9fb5;
}

/* Magenta */
.theme-base-0e .sidebar {
  background-color: #aa759f;
}
.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover {
  color: #aa759f;
}

/* Brown */
.theme-base-0f .sidebar {
  background-color: #8f5536;
}
.theme-base-0f .content a,
.theme-base-0f .related-posts li a:hover {
  color: #8f5536;
}

/* Yellow */
.theme-base-hufflepuff .sidebar {
  background-color: #cc9900;
}
.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover {
  color: #cc9900;
}

/* Author */
.authors img
{
    float: left;
}
/*
.authors .social-network
{
    display: inline-block;
    font-family: 'WebSymbolsLigaRegular';
}
*/

.social-networks
{
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@media (min-width: 48em) {
.authors img
{
    max-width:50px;
}
.social-networks
{
    display: inline-block;
    font-size: 10pt;
}
}

@media (min-width: 58em) {
.authors img
{
    max-width:130px;
}
.social-networks
{
    display: inline-block;
    font-size: 15pt;
    align: center;
}
}

.podcast-contacts
{
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@media (min-width: 48em) {
.podcast-contacts
{
    text-align: center;
    display: inline-block;
    font-size: 10pt;
}
}

@media (min-width: 58em) {
.podcast-contacts
{
    text-align: center;
    display: inline-block;
    font-size: 20pt;
}
}

.fate_font
{
    font-family: "Fate Core Font";
}



@media (min-width: 48em) {
.book_cover
{
    float: left;
    width: 80px;
    display: block;
    clear: right;
    padding: 10px;
}
}

@media (min-width: 58em) {
.book_cover
{
    float: left;
    width: 200px;
    display: block;
    clear: right;
    padding: 15px;
}
}


.container
{
    width: 100%;
}

/*
   Comments
   ========================================================================== */

.page__comments {
  @include full();
}

.page__comments-title {
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
}

.page__comments-form {
  padding: 1em;
  background: $lighter-gray;
  transition: $global-transition;

  &.disabled {
    input,
    button,
    textarea,
    label {
      pointer-events: none;
      cursor: not-allowed;
      filter: alpha(opacity=65);
      box-shadow: none;
      opacity: 0.65;
    }
  }
}

.comment {
  @include clearfix();
  margin: 1em 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.comment__avatar-wrapper {
  float: left;
  width: 60px;
  height: 60px;

  @include breakpoint($large) {
    width: 100px;
    height: 100px;
  }
}

.comment__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  @include breakpoint($large) {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid $border-color;
  }
}

.comment__content-wrapper {
  float: right;
  width: calc(100% - 60px);

  @include breakpoint($large) {
    width: calc(100% - 100px);
  }
}

.comment__author {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.comment__date {
  @extend .page__meta;
  margin: 0;

  a {
    text-decoration: none;
  }
}
