.mastodon-wrapper {
  display: flex;
  flex-direction: row;
}

.comment-wrapper {
  display: flex;
  flex-direction: row;
}

.comment-level {
  max-width: 3rem;
  min-width: 3rem;
}

.reply-original {
  display: none;
}
.mastodon-comment {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.mastodon-comment .comment {
  display: flex;
  flex-direction: row;
}
.mastodon-comment .comment-avatar img {
  width: 6rem;
}
.mastodon-comment .content {
  flex-grow: 2;
}
.mastodon-comment .comment-author {
  display: flex;
  flex-direction: column;
}
.mastodon-comment .comment-author-name {
  font-weight: bold;
}
.mastodon-comment .comment-author-name a {
  display: flex;
  align-items: center;
}
.mastodon-comment .comment-author-date {
  margin-left: auto;
}

.mastodon-comment-content p:first-child {
  margin-top: 0;
}

.mastodon {
  background: #282c37;
  width: 600px;
  color: #9baec8;
}

.copypaste {
  display: flex;
  align-items: center;
}

.copypaste input {
  display: block;
  font-family: inherit;
  background: #17191f;
  border: 1px solid #8c8dff;
  color: #9baec8;
  border-radius: 4px;
  padding: 6px 9px;
  line-height: 22px;
  font-size: 14px;
  transition: border-color 0.3s linear;
  flex: 1 1 auto;
  overflow: hidden;
}
.copypaste .button {
  border: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  overflow: hidden;
  padding: 7px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  background-color: #232730;
}
.copypaste .button:hover {
  background-color: #16181e;
}

[data-component*="dialog"] * {
  box-sizing: border-box;
  outline-color: #1346a0;
  background-color: #fff;
  border: 0;
  border-radius: 0.25em;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  font-family: ui-sansserif, system-ui, sans-serif;
  width: fit-content;
  color: #000;
}
