---
layout: default
---

<div class="page">
  <h1 class="page-title"> {{ page.title | markdownify }} </h1>
  {% if page.subtitle %}
  <h2 class="page-subtitle"> {{ page.subtitle | markdownify }} </h2>
  {% else if page.subheadline %}
  <h2 class="page-subheadline"> {{ page.subheadline | markdownify }} </h2>
  {% endif %}
  {{ content }}
</div>

<oom-comments src="{{site.mastodon}}/{{page.mastodon_base}}">
  No comments yet
</oom-comments>

{{page.mastodon_base}}
