<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-hufflepuff">

    {% include sidebar.html %}

      <div class="content container">
      {{ content | markdownify }}
</div>
<oom-comments src="{{site.mastodon}}/{{page.mastodon_base}}">
  No comments yet
</oom-comments>

{{page.mastodon_base}}

  </body>
</html>
