---
layout: default
---


<div class="post">
  <h1 class="post-title">{{ page.title | markdownify }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>



{% comment %} {% include fediverse_comments2.html %} {% endcomment %}

<div class="related">
  <h2>Posts Relaciondos</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
